* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    text-align: center;
    background: #f481f2;
}

.header {
    padding-top: 30px;
    color: rgb(20, 13, 13);
    font-size: 35px;
    margin: auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover {
    background: rgb(246, 65, 179);
    border-radius: 19px;
}

.teams img {
    width: 200px;
    height: 200px;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.desig {
    font-style: normal;
    color: rgb(154, 134, 7);
}

.about {
    margin: 23px 0;
    font-weight: lighter;
    color: #171901;
}

.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 35px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #444;
}

@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
}